li {
  list-style: none;
}

.car-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  height: 500px;
  width: 600px;
  margin: 20px;
}

.car-tile:hover {
  border: #A40000 solid 2px;
}

.car-image {
  width: 400px;
  height: auto;
}

a:Link {
  text-decoration: none;
  color: black;
}

