:local(.car) {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
padding: 0;

img {
  width: 70%;
  height: auto;
}

Link {
  list-style: none;
}

p {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;  
}
  
}