body {
  font-family: 'Carrois Gothic SC', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.search-form {
  display: flex;
  justify-content: flex-end;
}

input
{
  font-family: inherit;
  border-radius: 0.3rem;
}

textarea
{
  font-family: inherit;
  border-radius: 0.3rem;
}