.about-info {
  width: 100%;
}

.about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

.about-info .image {
  background: url('../../assets/open.png') no-repeat center center/cover;
  height: 50vh;
  width: 50vw;
  // border-radius: 50%;
}

.about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
  padding: 70px;
}

.about-heading {
  font-size: 40px;
  color: white;
  padding-top: 50px;
}

.l-heading {
  font-size: 40px;
}

.clr {
  clear: both;
}

.tests {
  background: url('../../assets/night2.png') no-repeat center center/cover;
  height: 110vh;
  width: 100vw;
}

.tests .test-image1 {
  background: url('../../assets/merc.png') no-repeat center center/cover;
  height: 100vh; 
  width: 100vw; 
  max-width: 350px; 
  max-height: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.test1 {
  background: #A40000;
  color: white;
  border-radius: 10px;
  margin: 50px;
  width: 50%;
  padding: 20px;
  float: left;
}

.tests .test-image2 {
  background: url('../../assets/bmw.png') no-repeat center center/cover;
  height: 100vh; 
  width: 100vw; 
  max-width: 350px; 
  max-height: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.test2 {
  margin: 0 auto;
  background: #A40000;
  color: white;
  border-radius: 10px;
  margin: 50px;
  width: 50%;
  padding: 20px;
  float: right;
}