.about-info {
  width: 100%;
}

.about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

@media screen and (max-width: 768px) {
  .about-info .info-right {
    float: none;
    width: 100%;
  }
}

.about-info .image {
  background: url('../../assets/open.png') no-repeat center center/cover;
  height: 50vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .about-info .image {
    height: 35vh;
    width: 100%;
  }
}

.about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
  padding: 70px;
}

@media screen and (max-width: 768px) {
  .about-info .info-left {
    float: none;
    width: 100%;
  }
}

.about-heading {
  font-size: 40px;
  color: white;
  padding-top: 90px;
  padding-bottom: 70px;
}

.l-heading {
  font-size: 40px;
}

.clr {
  clear: both;
}

.tests {
  background: url('../../assets/night2.png') no-repeat center center/cover;
  height: 110vh;
  width: 100vw;
}

@media screen and (max-width: 768px) {
  .tests {
    height: 82vh;
  }
}


.tests .test-image1 {
  background: url('../../assets/merc2.png') no-repeat center center/cover;
  height: 100vh; 
  width: 100vw; 
  max-width: 400px; 
  max-height: 250px;
  border-radius: 5px;
  border: solid 2px #121212;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .tests .test-image1 {
    max-width: 300px;
    max-height: 200px;
  }
}

.test1 {
  margin: 0 auto;
  color: white;
  border-radius: 10px;
  width: 23%;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .test1 {
    padding: 0;
    width: 39%;
  }
}

.tests .test-image2 {
  background: url('../../assets/bmw2.png') no-repeat center center/cover;
  height: 100vh; 
  width: 100vw; 
  max-width: 400px; 
  max-height: 250px;
  border-radius: 5px;
  border: solid 2px #121212;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .tests .test-image2 {
    max-width: 300px;
    max-height: 200px;
  }
}

.test2 {
  margin: 0 auto;
  color: white;
  border-radius: 10px;
  width: 23%;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .test2 {
    padding: 0;
    width: 39%;
  }
}


.test1 p, .test2 p {
  background: #A40000;
  padding: 0;
  margin: 0;
}
