.showcase {
  background: url('../../assets/gt40.png') no-repeat center center/cover;
  height: 60vh;
  width: 100vw;
}

.main-text {
  color: #A40000;
}

.home-info {
  height: 60vh;
}

.info-img {
  float: left;
  width: 50%;
  background: url('../../assets/night.png') no-repeat center center/cover;
  min-height: 100%;
  padding: 0 30px;
}

.info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 110px 30px;
  overflow: hidden;
  background: #121212;
  color: white;
}

.home-content {
  color: white;
  padding-top: 200px;
  text-shadow: 4px 4px 4px black;
}

.info-img h2 {
  color: white;
  padding-top: 110px;
  text-shadow: 4px 4px 4px black;
  font-size: 30px;
  line-height: 1.2em;
  padding-bottom: 30px;
}

.info-img p {
  color: white;
  font-size: 20px;
  line-height: 1.2em;
  padding-bottom: 30px;
}

.info-content p {
  font-size: 20px;
  line-height: 1.2em;
  padding-bottom: 30px;
}

.home-content h1 {
  font-size: 60px;
  line-height: 1.2em;
  padding-bottom: 60px;
}

.info-content h2 {
  font-size: 30px;
  line-height: 1.2em;
  padding-bottom: 30px;
}

.start-btn {
  text-decoration: none;
  color: white;
  font-size: 17px;
  background: #121212;
  padding: 13px;
  border: none;
  border-radius: 3px;
 }

.read-btn {
  text-decoration: none;
  color: black;
  font-size: 17px;
  background: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
 }

.start-btn:hover {
   background: #A40000;
   border: solid black 1px;
}

.read-btn:hover {
  color: white;
  background: #A40000;
  border: solid black 1px;
}

.box {
  float: left;
  padding: 50px;
  width: 33.3%;
  text-align: center;
}

.box i {
  margin-bottom: 10px;
}

.bg-ex {
  background: #A40000;
  color: white;
}