.showcase {
  background: url('../../assets/gt40.png') no-repeat center center/cover;
  height: 60vh;
  width: 100vw;
}

.main-text {
  color: #A40000;
}

.home-content {
  color: white;
  padding-top: 170px;
  text-shadow: 4px 4px 4px black;
}

.home-content p {
  font-size: 35px;
  padding-bottom: 30px;
}

.home-content h1 {
  font-size: 60px;
  line-height: 1.2em;
  padding-bottom: 60px;
}

.start-btn {
  text-decoration: none;
  color: white;
  padding-top: 170px;
  text-shadow: 2px 2px 2px black;
  font-size: 25px;
  background: #121212;
  padding: 15px 25px;
  border: none;
  border-radius: 3px;
 }

 .start-btn:hover {
   background: #A40000;
   border: solid black 1px;
 }