* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
p {
  margin: 10px 0;
 }

 .header-container {
  margin: auto;
  max-width: 1600px;
  overflow: auto;
  padding:  0 20px;
}

.topnav {
  list-style: none;
  background: #121212;
  color: white;
  overflow: auto;
}

.topnav h2 {
  float: left;
  padding-top: 15px;
  padding-bottom: 10px;
}

.topnav ul {
  list-style: none;
  float: right;
}

.topnav ul li {
  float: left;
}

.topnav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

.topnav ul li a:hover {
  color: #f4f4f4;
  background-color: #A40000;
}

.active {
  color: #f4f4f4;
  background-color: #A40000;
}